.form {
    display: flex;
    align-items: center;
    justify-content: center;
    .input {
        height: 40px;
        width: 220px;
        border: none;
        color: #38BDF2;
        padding-left: 15px;
        font-family: 'Orbitron', sans-serif !important;
        &:focus-visible {
            outline: none !important;
        }
        &::placeholder {
            font-family: 'Orbitron', sans-serif !important;
            color: rgba(#38BDF2, .4);
        }
        box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
        background-color: #1D2026;
    }
    .icon_container_border {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -30px;
        background-color: #2d3038;
        height: 62px;
        width: 62px;
        border-radius: 50%;
        border: 3px solid #2d3038;
        .icon_container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 48px;
            background-color: #2d3038;
            border-radius: 50%;
            border: 3px solid #2d3038;
            box-shadow: 0px 0px 4px 0px rgba(56,189,242,0.75);
            cursor: pointer;
            &:hover {
                border: 3px solid #38BDF2;
            }
            .icon {
                width: auto;
                height: 38px;
                color: #38BDF2;
            }
        }
    }
}