@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    background-color:rgba(34, 37, 46, .95);
    background-image: url(../src/assets/body_bg.svg);
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 500px;
    margin: 0;
}
